<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="About">
    <h1>About me</h1>


        <p class="about__section">Who am I?</p>
        <p>I'm a 23-year-old Brazilian, the youngest of 3 siblings. I have 2 cats and a little mouse! I'm passionate about series and movies, especially drama and comedy. My main hobbies are dancing and drawing.</p>
        <p class="about__section">Career</p>
        <p>Developer with experience in the Technology sector, I bring a background in Analysis and Systems
        Development, complemented by independently conducted and self-taught programming projects.</p>
        <p>My main skills include React.Js, HTML, CSS, JavaScript and Node.js. My practical experience has allowed me to
        acquire a solid programming knowledge and a comprehensive understanding of relevant technological tools.
        My professional approach is characterized by a collaborative and proactive mindset. I have an unwavering passion for
        continuous learning and am always in pursuit of new challenges to enhance my skills. </p>
        <p>I firmly believe that the world of technology is constantly evolving, and I am willing to learn and adapt to new technologies as they emerge.</p>
    </section>
    <section class="about__contact">
        <p class="contact__title">Contact me:</p>
        <div class="contact__section">
            <ul class="contact__list">
                <li class="contact__item">
                    <a href="mailto:gabibisdx@gmail.com" target="_blank">
                    <?xml version="1.0" encoding="UTF-8"?>
                <svg width="40px" height="40px" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <circle cx="256" cy="256" r="256" fill="#273B7A"/>
                <path d="m308.44 506.61c99.231-20.661 177.39-98.766 198.12-197.97l-132.02-132.31-148.37 100.99 17.613 17.613-106.63 40.431 171.28 171.24z" fill="#121149"/>
                <linearGradient id="a" x1="55.498" x2="165.2" y1="423.87" y2="423.87" gradientTransform="matrix(1.7239 0 0 -1.7239 35.471 986.71)" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#F3F1E8" offset="0"/>
                    <stop stop-color="#E3E0D0" offset="1"/>
                </linearGradient>
                <path d="m358.54 169.52h-205.08c-12.278 0-22.316 10.049-22.316 22.319v128.33c0 12.262 10.037 22.313 22.316 22.313h205.08c12.278 0 22.318-10.05 22.318-22.313v-128.32c0-12.269-10.04-22.32-22.318-22.32z" fill="url(#a)"/>
                <g fill="#B5B4B0">
                    <polygon points="255.07 289.8 162.11 340.14 162.26 342.48 256.16 291.87"/>
                    <path d="m360.43 190.86-59.566 45.87-44.709 55.143 90.905 50.612h11.476c8.242 0 15.46-4.534 19.328-11.23l-7.697-51.131-9.737-89.264z"/>
                </g>
                <path d="m256.16 291.87 124.7-96.547v-3.481c0-12.271-10.038-22.319-22.318-22.319h-4.965l-94.441 80.618-98.256-80.618h-7.416c-12.278 0-22.316 10.049-22.316 22.319v128.33c0 12.262 10.037 22.313 22.316 22.313h8.801v-125.13l93.896 74.521z" fill="#DD4B40"/>
                <path d="m380.86 320.16v-124.84l-33.794 26.164v120.99h11.476c12.278 2e-3 22.318-10.049 22.318-22.313z" fill="#A43026"/>
                </svg>
                </li>
            </a>

            <a href="https://www.instagram.com/gabeanchini/" target="_blank">
                <li class="contact__item" ><?xml version="1.0" encoding="UTF-8"?>
                    <svg width="40px" height="40px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="20" fill="#C13584"/>
                    <path d="m24 14.162c3.2041 0 3.5837 0.0122 4.849 0.0699 1.17 0.0534 1.8054 0.2489 2.2283 0.4132 0.5601 0.2177 0.9598 0.4777 1.3797 0.8976 0.42 0.42 0.68 0.8197 0.8977 1.3798 0.1643 0.4229 0.3598 1.0583 0.4132 2.2282 0.0577 1.2654 0.0699 1.6449 0.0699 4.849 0 3.2042-0.0122 3.5837-0.0699 4.8491-0.0534 1.17-0.2489 1.8053-0.4132 2.2282-0.2177 0.5601-0.4777 0.9599-0.8976 1.3798-0.42 0.4199-0.8197 0.6799-1.3798 0.8976-0.4229 0.1644-1.0583 0.3598-2.2283 0.4132-1.2651 0.0577-1.6446 0.07-4.849 0.07s-3.5838-0.0123-4.849-0.07c-1.17-0.0534-1.8054-0.2488-2.2283-0.4132-0.5601-0.2177-0.9598-0.4777-1.3797-0.8976s-0.68-0.8197-0.8977-1.3798c-0.1643-0.4229-0.3598-1.0582-0.4132-2.2282-0.0577-1.2654-0.0699-1.6449-0.0699-4.8491 0-3.2041 0.0122-3.5836 0.0699-4.849 0.0534-1.1699 0.2489-1.8053 0.4132-2.2282 0.2177-0.5601 0.4777-0.9598 0.8977-1.3797 0.4199-0.42 0.8196-0.68 1.3797-0.8977 0.4229-0.1643 1.0583-0.3598 2.2283-0.4132 1.2653-0.0577 1.6449-0.0699 4.849-0.0699zm0-2.1622c-3.259 0-3.6677 0.0138-4.9476 0.0722-1.2772 0.0583-2.1496 0.2611-2.9129 0.5578-0.7891 0.3066-1.4583 0.7169-2.1254 1.3841-0.6672 0.6671-1.0775 1.3363-1.3841 2.1254-0.2967 0.7633-0.4995 1.6356-0.5578 2.9129-0.0584 1.2799-0.0722 1.6886-0.0722 4.9475 0 3.2591 0.0138 3.6677 0.0722 4.9476 0.0583 1.2773 0.2611 2.1496 0.5578 2.9129 0.3066 0.7891 0.7169 1.4583 1.3841 2.1255 0.6671 0.6671 1.3363 1.0774 2.1254 1.384 0.7633 0.2967 1.6357 0.4995 2.9129 0.5578 1.2799 0.0584 1.6886 0.0722 4.9476 0.0722s3.6677-0.0138 4.9476-0.0722c1.2772-0.0583 2.1496-0.2611 2.9129-0.5578 0.7891-0.3066 1.4583-0.7169 2.1254-1.384 0.6671-0.6672 1.0775-1.3364 1.3841-2.1255 0.2967-0.7633 0.4995-1.6356 0.5578-2.9129 0.0584-1.2799 0.0722-1.6885 0.0722-4.9476 0-3.2589-0.0138-3.6676-0.0722-4.9475-0.0583-1.2773-0.2611-2.1496-0.5578-2.9129-0.3066-0.7891-0.717-1.4583-1.3841-2.1254-0.6671-0.6672-1.3363-1.0775-2.1254-1.3841-0.7633-0.2967-1.6357-0.4995-2.9129-0.5578-1.2799-0.0584-1.6886-0.0722-4.9476-0.0722z" fill="#fff"/>
                    <path d="m24.006 17.843c-3.4033 0-6.1621 2.7588-6.1621 6.1621s2.7588 6.1621 6.1621 6.1621 6.1622-2.7588 6.1622-6.1621-2.7589-6.1621-6.1622-6.1621zm0 10.162c-2.2091 0-4-1.7909-4-4s1.7909-4 4-4c2.2092 0 4 1.7909 4 4s-1.7908 4-4 4z" fill="#fff"/>
                    <path d="m31.851 17.596c0 0.7952-0.6447 1.44-1.44 1.44s-1.44-0.6448-1.44-1.44c0-0.7953 0.6447-1.4401 1.44-1.4401s1.44 0.6448 1.44 1.4401z" fill="#fff"/>
                    </svg>
                </li>
            </a>
        
            <a href="https://github.com/Gabianchini" target="_blank">
                <li class="contact__item">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="40px" height="40px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd">
                    <path d="m36 72c19.882 0 36-16.118 36-36s-16.118-36-36-36-36 16.118-36 36 16.118 36 36 36z" fill="#3E75C3"/>
                    <path d="m35.998 12c-13.252 0-23.998 10.787-23.998 24.097 0 10.644 6.876 19.675 16.414 22.862 1.2 0.22137 1.638-0.52256 1.638-1.1611 0-0.57226-0.021-2.0872-0.033-4.0977-6.6765 1.4562-8.085-3.2303-8.085-3.2303-1.0905-2.783-2.664-3.5239-2.664-3.5239-2.1795-1.4954 0.165-1.4653 0.165-1.4653 2.4075 0.17017 3.675 2.4833 3.675 2.4833 2.142 3.682 5.6175 2.6188 6.9855 2.0014 0.2175-1.5571 0.8385-2.6188 1.524-3.2212-5.3295-0.6084-10.932-2.6746-10.932-11.908 0-2.6309 0.9345-4.7814 2.4705-6.4665-0.2475-0.60991-1.071-3.0586 0.234-6.3762 0 0 2.016-0.64756 6.6 2.4698 1.9155-0.53461 3.9675-0.80116 6.009-0.8117 2.0385 0.010542 4.092 0.27709 6.009 0.8117 4.581-3.1173 6.5925-2.4698 6.5925-2.4698 1.3095 3.3176 0.486 5.7663 0.2385 6.3762 1.539 1.6852 2.4675 3.8356 2.4675 6.4665 0 9.2555-5.6115 11.293-10.958 11.889 0.861 0.74394 1.629 2.2137 1.629 4.4621 0 3.2212-0.03 5.819-0.03 6.6096 0 0.64454 0.432 1.3945 1.65 1.1581 9.5295-3.1926 16.4-12.218 16.4-22.859 0-13.31-10.746-24.097-24.002-24.097" fill="#FFF"/>
                    </g>
                    </svg>
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/gabriela-bianchini-044450187/" target="_blank">
                    <li class="contact__item"><?xml version="1.0" encoding="UTF-8"?>
                        <svg width="40px" height="40px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="512" cy="512" r="512" fill="#0a66c2"/>
                        <path d="M693.1 693.2h-76v-119c0-28.4-.6-64.9-39.6-64.9-39.6 0-45.7 30.9-45.7 62.8v121.1h-76V448.4h73v33.4h1c10.2-19.2 35-39.5 72-39.5 77 0 91.2 50.7 91.2 116.6l.1 134.3zm-323-278.3c-24.5 0-44.1-19.8-44.1-44.1s19.7-44.1 44.1-44.1c24.4 0 44.1 19.8 44.1 44.1s-19.8 44.1-44.1 44.1zm38.1 278.3H332V448.4h76.2v244.8zM731.1 256H293.9c-20.9 0-37.9 16.5-37.9 37v439c0 20.4 16.9 37 37.9 37H731c20.9 0 38-16.5 38-37V293c0-20.5-17.1-37-37.9-37z" fill="#fff"/>
                        </svg>
                    </li>
                </a>
            </ul>
        </div>
    </section>      
</body>
</html>