<div class="author">
    <h1 class="author__heading"> Hi there!</h1>
    <p class="author__body">Welcome to my blog</p>
</div>
<div class="hero__container">
<img src="/img/anime-me2.png" alt="hero image" class="hero-image">
</div>
<section class="articles">
    <h2 class="articles__heading">Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (current > 1) { %>
        <a href="/?page=1" class="pagination__recent">&larr;View Recent Posts  </a>
    <% } %>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%=nextPage%>" class="pagination__older">View Older Posts &rarr;</a>
    <% } %>
    
</section>